
*{
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.grid-renderer-frame {
    display: flex;
    flex-direction: column-reverse;
}

.grid-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
}

.grid-cell {
    width: 50px;
    height: 50px;
}

.selected {
    background-color: none;
}